#Track {
    height: 100vh;
    width: 80%;
    float: right;
    background-image: linear-gradient(0deg, #e5e5e5 0%, #f5f7fa 74%);
    overflow-y: scroll;
    overflow-x: none;
}

#Track::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

#Track::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.Track_elementWrapper {
    padding-top: 70px;
    width: 95%;
    margin: 0 auto;
}

.Track_elementWrapper h1 {
    color: black;
    margin: 0 0 20px 0;
}

.TrackHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Track_paperWrapper .ElementPaper:nth-child(2) {
    margin-top: 10px;
}

.ElementPaper {
    padding: 10px;
}

.ElementPaper h4 {
    margin: 0;
}

.ElementPaper table {
    margin: auto;
    width: 98%;
}

#OverviewTable > tbody > tr > td:first-child {
    width: 200px;
}

#OverviewTable td {
    font-size: 14px;
}

.OverviewTable_genreWrapper td:first-child {
    vertical-align: top;
}

.OverviewTable_genreWrapper td:last-child {
    display: grid;
    height: 45px;
    font-size: 12px !important;
    overflow-y: auto;
    background-color: #e5e5e5;
    border-radius: 4px;
    padding: 5px 10px;
    grid-template-columns: repeat(auto-fit, minmax(32%, max-content));
    grid-gap: 1.8%;
}

.OverviewTable_genreWrapper td p {
    line-height: 1.3em;
    margin: 0;
}

.OverviewTable_genreWrapper td:last-child::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.OverviewTable_genreWrapper td:last-child::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    border-radius: 4px;
}

.OverviewTable_genreListGrid {
    padding-bottom: 5px;
}

.OverviewTable_genreListGrid p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 770px) {
    .OverviewTable_genreWrapper td:last-child {
        grid-template-columns: repeat(auto-fit, minmax(49.1%, max-content));
    }
}

@media (max-width: 630px) {
    .OverviewTable_genreWrapper td:last-child {
        grid-template-columns: repeat(auto-fit, minmax(100%, max-content));
        grid-gap: 5px;
    }
}

@media (max-width: 580px) {
    #Track {
        width: 100%;
    }
}

@media (max-width: 325px) {
    #OverviewTable tbody tr td {
        font-size: 12px;
    }
}
