#SearchPage {
    margin-bottom: 100px;
}

#SearchPage h1 {
    font-weight: 500;
}

.SearchBarWrapper_container {
    padding: 60px 0 15px 0;
    background-color: #333;
}

#SearchBar {
    display: block;
    width: 83%;
    margin: 0px auto;
    padding-left: 20px;
    line-height: 2em;
}

.loadingWrapper_container {
    width: 100%;
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
}

.SearchResultWrapper_container {
    min-height: 600px;
    width: 85%;
    margin: 0 auto;
}

#InitiateSearchText {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

#InitiateSearchText svg {
    height: 200px;
    width: 200px;
    margin: 50px auto 0 auto;
}

.SearchResult_headerGroup {
    display: flex;
    align-items: baseline;
    color: white;
    user-select: none;
}

.SearchResult_headerGroup p {
    margin-left: 40px;
    color: darkgrey;
    font-weight: 700;
}

.SearchResult_headerGroup p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.TrackWrapper_container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    border-radius: 8px;
}

#TrackNotFoundText {
    text-align: center;
    color: white;
}

.playlistWrapper_container {
    max-height: 243px;
    overflow-y: hidden;
}

.playlistContainer_frameWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, max-content));
    grid-gap: 10px;
}

@media (max-width: 800px) {
    .SearchResultWrapper_container {
        width: 98%;
    }
}

@media (max-width: 630px) {
    .playlistWrapper_container {
        max-height: 170px;
    }

    .playlistContainer_frameWrapper {
        grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
    }
}

@media (max-width: 400px) {
    .playlistWrapper_container {
        max-height: 200px;
    }

    .playlistContainer_frameWrapper {
        grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
    }
}

.___displayAll {
    max-height: none;
}
